<!DOCTYPE html>
<html ng-app="springBootWebEmployeeTestApp" lang="en">
<head>
<meta charset="UTF-8">
<base href="/test.spring.boot.web.employee/" />
<title>Spring Boot - Web Employee Test</title>
<script src="node_modules/systemjs/dist/system.js"></script>
<script>
SystemJS.config({
	packages: {'appjs': {defaultExtension: 'ts'}},  
	map: {
	    '@angular': 'node_modules/@angular/',
	    'bootstrap': 'node_modules/bootstrap/dist/',
	    'rxjs': 'node_modules/rxjs/',
	    'appjs': 'components/pages/',
	    'appcss': 'components/css/',
	    'apptemplates': 'components/templates/'
	  }
	});
SystemJS.import('bootstrap/css/bootstrap.min.css');
SystemJS.import('bootstrap/js/bootstrap.min.js');
SystemJS.import('appjs/main.ts');
</script>
<body>
	<my-app></my-app>
</body>
</html>
